body {
    margin:0px;
    background-color: rgb(247, 241, 241);
}

/*NAVBAR*/
nav {
    background-color:rgb(226, 224, 224);
    display:flex;
    height:7vh;
}


nav .nav-left{
    flex:50%;
    background-color: rgb(226, 224, 224);
    padding-left:40px;
    display:flex;
    align-items: center;
}

nav .nav-left li{
    display:inline;
}

nav .nav-left ul li a{
    text-decoration:none;
    color:black;
    padding:12px;
}

nav .nav-right{
    flex:50%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right: 80px;
    text-decoration:none;
    
}

nav .nav-right a{
    background-color:black;
    color:white;
    padding:5px;
    border-radius:5px;
    font-size:15px;
    text-decoration:none;
}

/* CONTACT */
.form-contact{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 93vh;
   
}

.form-contact label{
    font-size: 20px;
    font-weight: 500px;
    
}

.form-contact form input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #c4c4c4;
    border-radius:8px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500px; 
}

.form-contact textarea {
    height: 100px;
    resize: none;
}

.form-contact form button {
    padding: 5px 8px;
    color: white;
    background-color: black;
    border-radius: 25px;
    float: right;
    cursor: pointer;
}

